.header-mobile__box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 10px 13px 0 13px;
  justify-content: space-between;
}

.header-mobile__userimage {
  background: url(../../../../static/img/icons/header-navbar-mobile/userimage.svg) 0px center / auto no-repeat;
  height: 30px;
  width: 30px;
  flex-basis: 46%;
}

.header-mobile__search {
  background: url(../../../../static/img/icons/header-navbar-mobile/search.svg) 0px center / auto no-repeat;
  height: 15px;
  width: 15px;
  flex-basis: 12%;
}

.header-mobile__notification {
  background: url(../../../../static/img/icons/header-navbar-mobile/notification.svg) 0px center / auto no-repeat;
  height: 16px;
  width: 16px;
  flex-basis: 14.3%;
}

.maketask-button__label {
  display: flex;
}

.maketask-button__text {
  color: #4329AA;
  font-size: 12px;
  margin-right: 5px;
  white-space: nowrap;
}

.maketask-button__icon {
  background: url(../../../../static/img/icons/header-navbar-mobile/maketusk.svg) 0px center / auto no-repeat;
  height: 15px;
  width: 15px;
}
