.profile__edit-btn {
  border-radius: 20px;
  background-color: #4329AA;
  width: 155px;
  height: 29px;
  font-weight: 400;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}



