.bottom-navbar-mobile {
  background: white;
  bottom: -1px;
  display: flex;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  width: 320px;
}

.bottom-navbar-mobile__btn-home {
  background: url(../../../img/bottom-navbar-mobile/home.svg) center / auto no-repeat;
  height: 30px;
  width: 27px;
}

.bottom-navbar-mobile__btn-task {
  background: url(../../../img/bottom-navbar-mobile/task.svg) center / auto no-repeat;
  height: 30px;
  width: 21px;
}

.bottom-navbar-mobile__btn-share {
  background: url(../../../img/bottom-navbar-mobile/projects.svg) center / auto no-repeat;
  height: 30px;
  width: 21px;
}

.bottom-navbar-mobile__btn-calendar {
  background: url(../../../img/bottom-navbar-mobile/calendar.svg) center / auto no-repeat;
  height: 30px;
  width: 23px;
}
