.profile-button__settings  {
  width: 250px;
  height: 40px;
  background-color: #D9D9D9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  padding-left: 40px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none !important;
}

.profile-button__settings:active {
  background-color: #4329AA;
  color: white;
}

.profile-button__settings:hover {
  background-color: #4329AA;
  color: white;
}

.profile-button__arrow {
  background-image: url(../../../../img/profile/profile_arrow_2.svg);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}
