.notification-block {
  width: 285px;
  height: 63px;
  background: #9B89E1;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  margin: 0 auto;
}

.notification-block__sender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.notification-block__sender-text {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}

.notification-block__task-name {
  font-weight: 700;
  font-size: 12px;
  color: white;
  margin-bottom: 6px;
}

.notification-block__date {
  font-weight: 400;
  font-size: 8px;
  color: #FFFFFF;
}
