.login-form{
  padding-bottom: 35px;
}
.user-form {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 84px;

}
.submit-button {
  font-family: 'Roboto';
  padding: 12px;
  width: 174px;
  border: 0;
  align-self: center;
  background: #4329AA;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
}
.submit-button__login-margin{
  margin-bottom: 30px;
}
