.notice_div {
  min-height: 40px;
  border-radius: 10px;
  background: aquamarine;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.notice_image {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../../../img/Check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  margin-right: 5px;
}

.notice_message {
  display: flex;
  align-items: center;
  font-size: 10px;
  text-align: center;
}
