.notice_div {
  position: relative;
  width: 220px;
  height: 56px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.notice_div__red {
  background-color: #FDD1D1; /* red */
}

.notice_div__green {
  background-color: #D1FFBC; /* green */
}


.notice_image {
  position: absolute;
  background-image: url('../../../img/close.svg');
  background-repeat: no-repeat;
  width: 19px;
  height: 18px;
  margin-right: -184px;
  margin-top: -30px;
}

.notice_message {
  width: 165px;
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
